attrs==19.3.0
coloredlogs==14.0
humanfriendly==8.2
more-itertools==8.2.0
numpy==1.18.3
packaging==20.3
pandas==1.0.3
pluggy==0.13.1
py==1.8.1
pyaml==20.4.0
pyparsing==2.4.7
pytest==5.4.2
pytest-dependency==0.5.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
six==1.14.0
termcolor==1.1.0
tqdm==4.45.0
wcwidth==0.1.9
